<link rel="stylesheet" href="/css/details.css">



<div class="displaymain">


  <div class="homeredirect">
    <a href="/">
    <button class="custom-button"> Home &nbsp;<i class="fa-solid fa-house"></i></i></button>
    </a>
  </div>



  <div class="create-Issue">
    <a href="/createProject/create_issue/<%= detailsDisplay.id %>" >
      <button class="btncreateissue">&nbsp;
        <i class="fa-solid fa-plus"></i>&nbsp;
        <span>Create Issue</span>
    </button>
    </a>
  </div>
<br>
<div class="card">
    <h5 class="card-title"><%= detailsDisplay.name %></h5>
    <p class="card-description"><%= detailsDisplay.description %></p>
    <p class="card-author"><%= detailsDisplay.author %></p>

 <!-- for displaying issues -->
 <br>


<% if(detailsDisplay.issues.length>0){ %>
 
  <% for(let issue of detailsDisplay.issues){ %>
   
    <div class="allignsmallCard">
      <div class="smallCard">
    <h5 class="card-title">  <i class="fa-solid fa-bug fa-lg"></i> &nbsp;<%= issue.title %></h5>
    <p class="card-description"><%= issue.description %></p>
    <p class="card-author"><%= issue.author %></p>
 

  <!-- Delete Icon -->
    <a href="/createProject/destroy_Bug/<%= issue.id %>"> 
      <i class="fa-solid fa-trash fa-bounce fa-2x" style="color: #0e0f0e;position: relative;
      left: 50%;
      top: 16%;"></i>
    </a>

  </div>
</div>
    <%}%>



<%}else{%>
  <p class="card-author"> <i class="fa-solid fa-bug-slash fa-lg"></i> No Issues found &#128512;</p>   
<%}%>


<br>

   



      
  </div>

    



</div>


   
   
